*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body.dark-mode {
  background-color: #333;
  color: white;
}

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body.dark-mode .top-bar {
  background-color: #1a202c;
}

.dashboard-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 60px;
  padding-bottom: 1rem;
  min-height: calc(100vh - 60px);
  align-items: flex-start;
  overflow: hidden;
}

.table {
  width: 100%;
  max-width: 1247px;
  margin: auto;
  height: auto;
  top: auto;
  left: auto;
  border-radius: 12px;
  overflow-x: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 3rem;
}

.bar-chart {
  width: 100%;
  max-width: 1247px;
  margin: auto;
  background: #ffffff;
  border-radius: 6px;
}

.total-population {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 1rem;

  text-align: center;
}

.search {
  position: absolute;
  width: 550px;
  height: 38px;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;

  border-radius: 4px;
}

.dark-mode-switch {
  position: absolute;
  right: 1rem;
  top: 1rem;
  margin-left: auto;
}

@media (max-width: 1024px) {
  .dashboard-container {
    flex-direction: column;
    align-items: center;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body.dark-mode {
  background-color: #333;
  color: white;
}

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body.dark-mode .top-bar {
  background-color: #1a202c;
}

.dashboard-container {
  padding-top: 60px;
  padding-bottom: 1rem;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.bar-chart,
.table,
.total-population {
  width: 100%;
  max-width: 1247px;
  margin: 10px auto;
}
