/* styles.css */

/* Define CSS variables for light and dark modes */
:root {
  --background-color: white;
  --text-color: black;
  --header-background: white;
  --sidebar-background: white;
  --main-content-background: #f0f0f0;
}

[data-theme='dark'] {
  --background-color: #1a202c;
  --text-color: white;
  --header-background: #2d3748;
  --sidebar-background: #2d3748;
  --main-content-background: #2d3748;
}

[data-theme='light'] {
  --background-color: white;
  --text-color: black;
  --header-background: white;
  --sidebar-background: white;
  --main-content-background: #f0f0f0;
}

/* Global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.app-container {
  display: flex;
  flex-direction: column;
}

.main-content {
  padding: 1rem;
  flex: 1;
  min-height: 100vh;
  background-color: var(--main-content-background);
}

/* Sidebar styles */
.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
  background-color: var(--sidebar-background);
  color: var(--text-color);
}

.sidebar.open {
  transform: translateX(0);
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--header-background);
}

/* Search bar styles */
.search-bar {
  flex: 1;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Summary styles */
.summary {
  width: 100%;
  max-width: 1247px;
  margin: auto;
}

.total-population,
.total-area {
  width: 48%;
  padding: 1rem;
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Bar chart styles */
.bar-chart {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Table styles */
.table {
  width: 100%;
  max-width: 1247px;
  margin: 10px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Independent button styles */
.independent-button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
